.menu-botao {
  background-color: var(--amarelo-destaque);
  color: var(--azul-principal);
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;

  transition: background-color 0.2s ease,
              transform 0.15s ease,
              box-shadow 0.15s ease;
}

.menu-botao:hover {
  background-color: #f1c40f;
  transform: translateY(-1px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.btn-2025 {
  background-color: var(--amarelo-destaque);
  color: var(--azul-principal);

  padding: 10px 18px;
  border-radius: 8px;

  font-size: 0.9rem;
  font-weight: bold;

  border: none;
  cursor: pointer;

  appearance: none;
  -webkit-appearance: none;

  transition: 
    background-color 0.2s ease,
    transform 0.15s ease,
    box-shadow 0.15s ease;
}

.btn-2025:hover {
  background-color: #f1c40f;
  transform: translateY(-1px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

/* ============================= */
/* BOTÃO "VER DETALHES" */
/* ============================= */

.projeto-footer a {
  background-color: var(--azul-principal);
  color: var(--branco);

  padding: 8px 18px;
  border-radius: 6px;

  font-size: 0.85rem;
  font-weight: bold;
  text-decoration: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition: 
    background-color 0.2s ease,
    transform 0.15s ease,
    box-shadow 0.15s ease;
}

.projeto-footer a:hover {
  background-color: var(--azul-escuro);
  transform: translateY(-1px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}


/* ============================= */
/* BOTÃO BAIXAR PDF */
/* ============================= */

.btn-download {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  margin-top: 30px;
  padding: 14px 22px;

  background-color: var(--azul-principal);
  color: var(--branco);

  border-radius: 8px;

  font-size: 0.95rem;
  font-weight: bold;
  text-decoration: none;

  transition:
    background-color 0.2s ease,
    transform 0.15s ease,
    box-shadow 0.15s ease;
}

/* HOVER */
.btn-download:hover {
  background-color: var(--azul-escuro);
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.18);
}



.barra-voltar {
  max-width: 1100px;
  margin: 16px auto 0;
  padding: 0 20px;
}

.btn-voltar {
  background: transparent;
  border: none;
  color: var(--azul-principal);
  font-weight: bold;
  font-size: 0.95rem;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.btn-voltar:hover {
  text-decoration: underline;
}

.btn-voltar-header {
  background: var(--amarelo-destaque);
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;

  font-weight: bold;
  cursor: pointer;
}

